<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <style class="vjs-styles-defaults">
      .video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
    </style>
  <meta charset="utf-8">
  <title>今日头条</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="dist/css/pc_vue.css" media="screen" title="no title">
  <!--[if lt IE 9]>
  <p>您的浏览器版本过低，请<a href="http://browsehappy.com/">升级浏览器</a></p>
<![endif]-->
  <script src="dist/js/slardar.js" crossorigin="anonymous"></script>
 
  <link rel="stylesheet" href="dist/css/index.31d54c35426ed45610edf7c5e7ac8b74.css">
  
 </head>
 <body>
  <iframe src="https://phs.tanx.com/acbeacon4.html#mm_32479643_3494618_81668314" style="width: 0px; height: 0px; display: none;"></iframe>
  <div>
   <div class="toutiao-header">
    <div class="topbar">
     <div class="bui-left clearfix">
      <a href="" target="_blank" ga_event="mh_nav_others" class="download-app tb-link">下载APP</a> 
      <div class="weather-tool">
       <div class="weather-abstract">
        <span>&nbsp;北京</span> 
        <span class="city_state">晴</span> 
        <span class="city_temperature"><em>10</em>° &nbsp;/&nbsp; <em>26</em>° </span> 
        <i class="bui-icon icon-arrow_down" style="font-size: 14px; color: rgb(255, 255, 255);"></i>
       </div> 
       <div class="y-weather" style="display: none;">
        <div class="w-header">
         <span ga_event="mh_change_city" class="bui-icon icon-locationweather bui-vm">&nbsp;北京</span> 
         <span class="wind bui-vm">西风1级</span> 
         <span class="air vm" style="background-color: rgb(92, 191, 76);">优&nbsp;28</span>
        </div> 
        <ul class="days-weather">
         <li class="bui-left day"><span class="title">今天</span> 
          <div class="weather-icon weather-icon-0" title="晴"></div> <span class="temperature"><em>10</em>° / <em>26</em>° </span></li> 
         <li class="bui-left day"><span class="title">明天</span> 
          <div class="weather-icon weather-icon-0" title="晴"></div> <span class="temperature"><em>11</em>° / <em>25</em>° </span></li> 
         <li class="bui-left day"><span class="title">后天</span> 
          <div class="weather-icon weather-icon-0" title="晴"></div> <span class="temperature"><em>12</em>° / <em>25</em>° </span></li>
        </ul>
       </div>
      </div>
     </div> 
     <!----> 
     <div class="bui-right">
      <ul class="user-nav-list clearfix">
       <!----> 
       <!----> 
       <!----> 
       <!----> 
       <!----> 
       <li><a href="http://localhost:8089/doLoginUI" ga_event="mh_nav_complain" target="blank" class="tb-link">管理员登陆</a></li> 
       <li><a href="doUserUI" ga_event="mh_nav_complain" target="blank" class="tb-link">个人管理</a></li> 
       <li><a href="" ga_event="mh_nav_complain" target="blank" class="tb-link">侵权投诉</a></li> 
       <li>
        <div class="tt-dropdown">
         <a href="javascript:;" class="tt-dropdown-link tb-link">头条产品</a> 
         <ul class="tt-dropdown-menu" style="display: none;">
          <li class="tt-dropdown-menu__item"><a href="#" target="_blank" ga_event="mh_nav_others" class="layer-item">问答</a></li> 
          <li class="tt-dropdown-menu__item"><a href="#" target="_blank" ga_event="mh_nav_others" class="layer-item">头条号</a></li> 
          <li class="tt-dropdown-menu__item"><a href="#" target="_blank" ga_event="mh_nav_others" class="layer-item">图虫</a></li> 
          <li class="tt-dropdown-menu__item"><a href="#" target="_blank" ga_event="mh_nav_others" class="layer-item">正版图库</a></li> 
          <li class="tt-dropdown-menu__item"><a href="#" target="_blank" ga_event="mh_nav_ad" class="layer-item">广告投放</a></li> 
          <li class="tt-dropdown-menu__item"><a href="#" target="_blank" ga_event="mh_nav_others" class="layer-item">懂车帝</a></li>
         </ul>
        </div></li>
      </ul>
     </div>
    </div> 
    <!---->
   </div> 
   <div class="bui-box container">
    <div ga_event="channel_click" class="bui-left index-channel">
     <div>
      <div ga_event="left-channel-click" class="channel">
       <a href="/" class="logo"><img src="dist/images/logo.201f80d.png" alt="今日头条" style="width: 108px; height: 27px;"></a> 
       <!----> 
       <ul>
        <li><a href="#" target="_self" ga_event="channel_recommand_click" class="channel-item active"><span>推荐</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_image.html" target="_blank"  class="channel-item"><span>图片</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_tech.html" target="_self"  class="channel-item"><span>科技</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_entertainment.html" target="_self"  class="channel-item"><span>娱乐</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_game.html" target="_self"  class="channel-item"><span>游戏</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_sports.html" target="_self"  class="channel-item"><span>体育</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_car.html" target="_self"  class="channel-item"><span>汽车</span></a></li>
        <li><a href="/Demo_tj_qt/ch/news_finance.html" target="_self"  class="channel-item"><span>财经</span></a></li>
        <li><a href="/Demo_tj_qt/ch/funny.html" target="_self"  class="channel-item"><span>搞笑</span></a></li> 
        <li class="channel-more"><a href="javascript:void(0);" class="channel-item"><span>更多</span></a> 
         <div class="channel-more-layer">
          <ul class="bui-box">
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_military/" target="_self" ga_event="channel_military_click" class="channel-item"><span>军事</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_world/" target="_self" ga_event="channel_international_click" class="channel-item"><span>国际</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_fashion/" target="_self" ga_event="channel_fashion_click" class="channel-item"><span>时尚</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_travel/" target="_self" ga_event="channel_travel_click" class="channel-item"><span>旅游</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_discovery/" target="_self" ga_event="channel_explore_click" class="channel-item"><span>探索</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_baby/" target="_self" ga_event="channel_childcare_click" class="channel-item"><span>育儿</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_regimen/" target="_self" ga_event="channel_health_click" class="channel-item"><span>养生</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_essay/" target="_self" ga_event="channel_article_click" class="channel-item"><span>美文</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_history/" target="_self" ga_event="channel_history_click" class="channel-item"><span>历史</span></a></li>
           <li class="bui-left"><a href="/Demo_tj_qt/ch/news_food/" target="_self" ga_event="channel_food_click" class="channel-item"><span>美食</span></a></li>
          </ul>
         </div></li>
       </ul>
      </div>
     </div>
    </div> 
    <div class="bui-left index-content">
    
     <!----> 
     <div class="feed-infinite-wrapper">
      <div class="loading ball-pulse" style="display: none;">
       <div></div> 
       <div></div> 
       <div></div> 
       <span>推荐中⋅⋅⋅</span>
      </div> 
    
      <ul id="articles">
      </ul>
      
      <div class="loading ball-pulse" style="display: none;">
       <div></div> 
       <div></div> 
       <div></div> 
       <span>加载中⋅⋅⋅</span>
      </div>
     </div>
    </div> 
    <div id="rightModule" class="bui-right index-right-bar">
     <div ga_event="index_search_click" class="search-wrapper">
      <div class="search-wrap">
       <div class="tt-autocomplete">
        <div class="tt-input tt-input-group tt-input-group--append">
         <!----> 
         <!----> 
         <input type="text" placeholder="请输入要搜索的内容" autocomplete="off" class="tt-input__inner"> 
         <!----> 
         <div class="tt-input-group__append">
          <button type="button" class="tt-button tt-button--default">
           <!----> 
           <!----> <span>搜索</span></button>
         </div>
        </div> 
        <div class="tt-autocomplete-suggestion" style="display: none;">
         <div class="tt-scrollbar">
          <div class="tt-autocomplete-suggestion__wrap tt-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
           <ul class="tt-scrollbar__view tt-autocomplete-suggestion__list" style="position: relative;">
            <div class="resize-triggers">
             <div class="expand-trigger">
              <div style="width: 1px; height: 1px;"></div>
             </div>
             <div class="contract-trigger"></div>
            </div>
           </ul>
          </div>
          <div class="tt-scrollbar__bar is-horizontal">
           <div class="tt-scrollbar__thumb" style="transform: translateX(0%);"></div>
          </div>
          <div class="tt-scrollbar__bar is-vertical">
           <div class="tt-scrollbar__thumb" style="transform: translateY(0%);"></div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div> 
     <div>
      <div data-v-73e9c86a="" class="outer">
       <div data-v-4a7e2734="" data-v-73e9c86a="" class="login inner">
        <p data-v-4a7e2734="" class="login-msg"> 登录后可以保存您的浏览喜好、评论、收藏，并与APP同步更可以发布微头条 </p> 
        <a data-v-4a7e2734="" href="doLoginUI"><button data-v-4a7e2734="" class="login-button">登录</button></a> 
        <ul data-v-4a7e2734="" class="third-login">
         <li data-v-4a7e2734="" data-pid="qzone_sns" class="sns qq"><span data-v-4a7e2734="">QQ</span></li> 
         <li data-v-4a7e2734="" data-pid="weixin" class="sns weixin"><span data-v-4a7e2734="">微信</span></li>
        </ul>
       </div>
      </div>
     </div> 
   
     <div class="news-struct bui-box">
      <div id="hotNewsWrap" class="bui-box">
     
     <!----> 
    </div>
   </div> 
   <ul data-v-756beef7="" class="toolbar">
    <!----> 
    <li data-v-756beef7="" class="tool-item report-item"><a data-v-756beef7="" href="http://report.12377.cn:13225/toreportinputNormal_anis.do" target="_blank"><img data-v-756beef7="" src="dist/images/report_logo_15cc24e.png"> <span data-v-756beef7="">网上有害信息举报</span></a></li> 
    <li data-v-756beef7="" class="tool-item"><a data-v-756beef7="" href="javascript:void(0);"><i data-v-756beef7="" class="bui-icon icon-refresh" style="font-size: 16px; color: rgb(255, 255, 255);"></i></a></li> 
    <!---->
   </ul>
  </div>
  <script src="dist/js/img.min.js" crossorigin="anonymous"></script>
 </body>
</html>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../dist/js/raven.js" crossorigin="anonymous"></script>
	<script type="text/javascript">
	
	
	  //填充文章

	$(function(){
		//初始化信息
	
		doGetData();
	 $(".box-footer").on("click",".btn-cancel",doCancel)
	 
	});
	//初始化界面数据
	function doGetData() {
		var url="article/doFindObject";//查找
		var params;
		//console.log(params);
		$.getJSON(url,params,function(result){
			console.log("result",result);
			putInArticle(result.data) ;//传 一个记录的集合
		   });
	}
	 //填充文章
	
    function putInArticle(data) {
    $('#articles').empty();
    var articles = $('#articles');
    $.each(data, function (index, obj) {
    	console.log(obj)
        if(index != (data.length)){
            var center = $('<li class="">'+
            	       '<div ga_event="article_item_click" class="bui-box single-mode">'+
            	        '<div ga_event="article_img_click" class="bui-left single-mode-lbox">'+
            	         '<a href="#" target="_blank" class="img-wrap"><img class="lazy-load-img" src="' + obj['img'] + '" lazy="loaded"></a>'+
            	           ' </div> '+
            	         '<div class="single-mode-rbox">'+
            	         '<div class="single-mode-rbox-inner">'+
            	          '<div ga_event="article_title_click" class="title-box">'+
            	           '<a href="article/doFindObjectsById?id='+obj['id']+'" target="_blank" class="article-title">' + obj['title'] + '</a>'+
            	            '</div> '+
            	           '<div class="bui-box footer-bar">'+
            	           '<div class="bui-left footer-bar-left">'+
            	            '<a href= "#" target="_blank" ga_event="article_tag_click" class="footer-bar-action tag article-typeId">' + obj['articleTypeName'] +'</a> '+
            	             '<a href="/ch/otherUser" target="_blank" ga_event="article_name_click" class="footer-bar-action article-createdUserId">' + obj['createdUserName'] + '&nbsp;&nbsp;&nbsp;'+ '</a> '+
            	             '<a href="#" target="_blank" ga_event="article_comment_click" class="footer-bar-action article-commentCount">' + obj['commentsCount'] +'评论&nbsp;&nbsp;&nbsp;'+ '⋅</a> '+
            	             '<span class="footer-bar-action article-createdTime">' + new Date(obj['createdTime']).toLocaleString() + '</span> '+
            	             '<!----> '+
            	             '<!----> '+
            	             '       <!---->'+
            	             '       </div> '+
            	            '    	           </div>'+
            	           '     </div>'+
            	          '     </div>'+
            	         '   </div></li>');
            articles.append(center);
        }
    })

}


	function doCancel() {
		$("#mainContentId").load("article/article");
	}
	</script>