<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  
  <meta charset="utf-8"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>北京日报客户端的头条主页 - 今日头条</title> 
  <link rel="stylesheet" href="../dist/css/layout_5fcc025.css"> 
  <script src="../dist/js/lib_d2cb17c.js" crossorigin="anonymous"></script> 
  <link rel="stylesheet" href="../dist/css/profile_0b83379.css"> 
  <script src="../dist/js/index_591a490.js"></script> 

 </head> 
 <body style="min-width: 1220px; overflow-x: hidden;"> 
  <div style="display:none">
   <input type="hidden" name="csrfmiddlewaretoken" value="7ac09bd0be31a2b4061c3859e7885722">
  </div> 
  <a href="/articles_news_society/" style="display:none;"></a> 
  <div class="y-wrap"> 
   <!-- 公共头部 --> 
   <div id="header"> 
    <div riot-tag="wtopbar" style="height: 34px; background: #222;">
     <div class="y-box wtopbar"> 
      <div class="y-left y-nav-topbar" riot-tag="nav">
       <div class="nav"> 
        <ul class="y-box nav-list" ga_event="mh_channel"> 
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_hot.html" >热点</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link active" href="/Demo_tj_qt/ch/news_image.html" >图片</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_entertainment.html" >娱乐</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_tech.html" >科技</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_car.html" >汽车</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_sports.html" >体育</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_finance.html" >财经</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_military.html" >军事</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_world.html" >国际</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_fashion.html" >时尚</a> </li>
         <li class="y-left nav-item"> <a target="_blank" class="nav-link " href="/Demo_tj_qt/ch/news_travel.html" >旅游</a> </li>
         <li class="y-left nav-item nav-more"> <a class="nav-link" href="javascript:;"> 更多<i class="y-icon icon-more"></i> </a> 
          <div class="nav-layer"> 
           <ul class="nav-more-list"> 
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_discovery/" ga_event="mh_channel_discovery">探索</a> </li>
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_baby/" ga_event="mh_channel_baby">育儿</a> </li>
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_regimen/" ga_event="mh_channel_regimen">养生</a> </li>
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_essay/" ga_event="mh_channel_essay">美文</a> </li>
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_game/" ga_event="mh_channel_game">游戏</a> </li>
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_history/" ga_event="mh_channel_history">历史</a> </li>
            <li class="nav-more-item"> <a target="_blank" href="/ch/news_food/" ga_event="mh_channel_food">美食</a> </li>
            <!--riot placeholder--> 
           </ul> 
          </div> </li> 
        </ul> 
       </div>
      </div> 
      <ul class="y-right"> 
       <li class="tb-item userbox"> 
        <div riot-tag="wuserbox" abtype="" pageid="">
         <div class="y-box wuserbox"> 
          <div class="nav-login"> 
           <a ga_event="nav_login" href="javascript:;"> <span>登录</span> </a> 
          </div> 
         </div>
        </div> </li> 
       <li class="tb-item"> <a class="tb-link" href="javascript:void(0)">反馈</a> </li> 
       <li class="tb-item"> <a class="tb-link" href="https://mp.toutiao.com/profile_introduction/infringement/complain" ga_event="mh_nav_complain" target="_blank">投诉侵权</a> </li> 
       <li class="tb-item more"> <a class="tb-link" href="/about/">头条产品</a> 
        <div class="layer"> 
         <ul> 
          <li> <a href="https://www.wukong.com" class="layer-item" ga_event="mh_nav_others" target="_blank">问答</a> </li> 
          <li> <a href="https://mp.toutiao.com/" class="layer-item" target="_blank" ga_event="mh_nav_others">头条号</a> </li> 
          <li> <a href="https://tuchong.com/" class="layer-item" target="_blank" ga_event="mh_nav_others">图虫</a> </li> 
          <li> <a href="https://stock.tuchong.com/?source=ttweb" target="_blank" ga_event="mh_nav_others" class="layer-item">正版图库</a> </li> 
          <li> <a href="https://ad.toutiao.com/promotion/?source2=pchometop" class="layer-item" target="_blank" ga_event="mh_nav_ad">广告投放</a> </li> 
         </ul> 
        </div> </li> 
      </ul> 
      <div id="J_userFeedback"></div> 
     </div>
    </div> 
    <div class="middlebar"> 
     <div class="y-box middlebar-inner"> 
      <div class="y-left logo-box"> 
       <a class="logo-link" href="/" ga_event="go_home"> <img class="logo" src="../images/logo_201f80d.png"> </a> 
      </div> 
      <div class="y-right"> 
       <div riot-tag="wsearch" style="margin-top: 9px; width: 340px;">
        <div name="searchBox" class="wsearch"> 
         <form name="searchForm" action="/search/" method="get" target="_blank"> 
          <div name="inputbox" class="y-box input-group"> 
           <input class="y-left input-text" name="keyword" autocomplete="off" ga_event="mh_search" type="text" placeholder="请输入关键字"> 
           <div class="y-right btn-submit"> 
            <button type="submit" href="javascript:;"> <i class="y-icon icon-search" ga_event="mh_search"></i> </button> 
           </div> 
          </div> 
         </form> 
         <div class="layer "> 
          <ul ga_event="mh_search"> 
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-1">1</i> <span class="search-txt">火箭签约安东尼</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-2">2</i> <span class="search-txt">山东暴雨预警</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-3">3</i> <span class="search-txt">黄晓明 股票操纵</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-4">4</i> <span class="search-txt">韩学臣被判无期</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-5">5</i> <span class="search-txt">茅台致歉</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-6">6</i> <span class="search-txt">阅文收购新丽传媒</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-7">7</i> <span class="search-txt">哈登对女子动粗</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-8">8</i> <span class="search-txt">南京楼市调控新政</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-9">9</i> <span class="search-txt">怪物猎人世界下架</span> </a> </li>
           <li class="search-item"> <a href="javascript:;"> <i class="search-no search-no-10">10</i> <span class="search-txt">江西彭小峰被批捕</span> </a> </li>
           <!--riot placeholder--> 
          </ul> 
         </div> 
        </div>
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div riot-tag="login">
    <div class="login-dialog hide"> 
     <a class="btn" href="javascript:;"> <i class="icon icon-close"></i> </a> 
     <div class="login-dialog-header"> 
      <h3>邮箱登录</h3> 
     </div> 
     <div class="login-dialog-inner" data-node="inner"> 
      <div class="login-pannel bottom-line"> 
       <form action="/auth/login/" method="POST"> 
        <ul> 
         <li> 
          <div class="input-group"> 
           <div class="input"> 
            <label>邮箱</label> 
            <input class="name" name="name_or_email" type="text" placeholder="请使用您的注册邮箱" autocomplete="off" spellcheck="false"> 
           </div> 
          </div> </li> 
         <li> 
          <div class="input-group"> 
           <div class="input"> 
            <label>密码</label> 
            <input class="password" name="password" type="password" data-node="password" placeholder="密码" autocomplete="off" spellcheck="false"> 
           </div> 
          </div> </li> 
         <li class="captcha-box "> 
          <div class="input-group"> 
           <div class="input"> 
            <input class="password" name="captcha" type="text" data-node="captcha" placeholder="验证码" autocomplete="off" spellcheck="false"> 
            <img name="captchaImg"> 
           </div> 
          </div> </li> 
         <li> 
          <div class="input-group"> 
           <input type="checkbox" name="remember_me" checked="" style="vertical-align:top"> 
           <label for="remember_me" class="label">记住账号</label> 
          </div> </li> 
         <li> 
          <div class="input-group" style="text-align: center;"> 
           <input type="submit" class="submit-btn" value="登录"> 
           <p class=""></p> 
          </div> </li> 
        </ul> 
       </form> 
      </div> 
      <div class="login-dialog-header"> 
       <h3>合作网站账号登录</h3> 
      </div> 
      <div class=""> 
       <ul class="y-box sns_login_list"> 
        <li class="sinaweibo"> <a href="javascript:;" data-pid="sina_weibo" ga_event="login_sina_weibo"> <i class="icon"></i> 新浪微博 </a> </li> 
        <li class="qqweibo"> <a href="javascript:;" data-pid="qq_weibo" ga_event="login_tencnet_weibo"> <i class="icon"></i> 腾讯微博 </a> </li> 
        <li class="qzone"> <a href="javascript:;" data-pid="qzone_sns" ga_event="login_qqzone"> <i class="icon"></i> QQ空间 </a> </li> 
        <li class="renren"> <a href="javascript:;" data-pid="renren_sns" ga_event="login_renren"> <i class="icon"></i> 人人网 </a> </li> 
        <li class="weixin"> <a href="javascript:;" style="margin-right:0;" data-pid="weixin" ga_event="login_wechat"> <i class="icon"></i> 微信 </a> </li> 
       </ul> 
      </div> 
     </div> 
    </div> 
    <div class="mask hide"></div>
   </div> 
   <div id="toast"></div> 
   <div id="wrapper"> 
    <div riot-tag="yheader" class="yheader">
     <a href="/c/user/94231358279/"><img class="bg-header" alt="头像" src="../images/bg_profile.png"></a> 
     <div> 
      <a ga_event="user_head_click" href="/c/user/94231358279/"><img alt="作者头像" class="avatar" src="../images/66bd0002f4ac966aa1d9"></a> 
      <ul> 
       <li class="title"> <a ga_event="user_head_click" href="/c/user/94231358279/"> <span class="name">北京日报客户端</span> <span class="y-icon dv"></span> <span class="tth"></span> </a> </li> 
       <li class="des"><a ga_event="user_head_click" href="/c/user/94231358279/"></a></li> 
      </ul> 
      <div ga_event="user_head_follow" riot-tag="attention" txt="关注" activetxt="已关注" friendedtxt="互相关注" media_id="94231358279" like="false" liked="false">
       <span class="btn-attention "><em class="text">关注</em></span>
      </div> 
     </div>
    </div> 
    <div class="left"> 
     <div riot-tag="tab">
      <ul class="tab tab-0"> 
       <li class="active" code="a" idx="0">文章</li>
       <li class="" code="b" idx="1">视频</li>
       <li class="" code="d" idx="2">微头条</li>
       <!--riot placeholder--> 
      </ul>
     </div> 
     <div riot-tag="feedBox">
      <div class="feedBox" name="feedbox"> 
       <div class="tt-declare">
        以下内容由今日头条提供
       </div> 
       <div class="tt-related-title">
        相关推荐
       </div> 
       
      </div>
     </div> 
    </div> 
    <div class="right"> 
     <div riot-tag="statistics">
      <dl class="statistics"> 
       <dt> 
        <a ga_event="nav_user_list" href="useManage.html"> <h3 riot-tag="number" number="161"><em class="y-number"><i>161</i></em></h3> <p>关注</p> </a> 
       </dt> 
       <dd> 
        <a ga_event="nav_user_list" href="useManage.html"> <h3 riot-tag="number" number="549483"><em class="y-number"><i>54</i>万</em></h3> <p>粉丝</p> </a> 
       </dd> 
      </dl>
     </div> 
    
    <div riot-tag="top"></div> 
   </div> 
   <div class="footer-push"></div> 
   <div riot-tag="ugcBox"></div> 
  </div> 
 
  <script src="../js/toutiao.web.toutiao_pc-pc-fe_switch.js"></script> 
  <script>
      var PAGE_SWITCH = window['toutiao.web.toutiao_pc/pc/fe_switch'] || {};
    </script> 
  <script src="../js/z_stat.php" language="JavaScript"></script>
  <script src="../js/core.php" charset="utf-8" type="text/javascript"></script>
  <a href="http://www.cnzz.com/stat/website.php?web_id=1259612802" target="_blank" title="站长统计">站长统计</a> 
 </body>
</html>