<div id="personalDate">
	<ol class="am-breadcrumb  am-breadcrumb-slash">
		<li class="am-active am-icon-home">个人主页</li>
		<li class="am-active">安全设置</li>
	</ol>
	<div class="zhy-personalDate">
		<div class="personalDateForm">
			<form id="personalDateForm">
				<div class="emailTable">
					<label for="email">邮箱</label> <input class="formInput" type="text"
						id="phone" placeholder="填写你的邮箱">
					<hr data-am-widget="divider" style=""
						class="am-divider am-divider-default" />
				</div>

				<div class="trueNameTable">
					<label for="authCode">验证码</label> <input class="formInput"
						type="text" id="authCode" placeholder="填写验证码">
					<button type="button" id="authCodeBtn"
						class="authCodeBtn am-btn am-btn-secondary am-round am-btn-sm">获取验证码</button>
					<hr data-am-widget="divider" style=""
						class="am-divider am-divider-default" />
				</div>
		           <div class="passwordTable">
                            <label for="password">新密码</label>
                            <input class="formInput" type="password" id="password" placeholder="填写你的密码">
                            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                        </div>
					<div class="passwordReady">
                            <label for="surePassword">确认密码</label>
                            <input class="formInput" type="password" id="surePassword" placeholder="再次填写你的密码">
                            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                        </div>
                      
				<button type="button" id="savePersonalDateBtn"
					class="savePersonalDateBtn am-btn am-btn-warning">保存</button>
			</form>
		</div>
	</div>
</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		$(function() {
			$("#authCodeBtn").click(doLogin);
			$("#savePersonalDateBtn").click(doBoolean);
			
		});
		function doLogin(){
			  var email=$("#phone").val();
			  var params={
				username : document.cookie.split(";")[2].split("=")[1]
			  };
			  var url="user/doLoginUI";
			  $.get(url,params,function(result){
					  if(email==result.data.email){
						  doCode();
					  }else{
						alert("邮箱输入错误");
					  }
			  });
		  }
		function doCode() {
			var url = "user/doRegist";
			var params = {
					"email" : $("#phone").val()
				}				
			$.get(url,params,function(result){
				alert(result.message);
			});
		}
		function doBoolean() {
			if($("#password").val()==""||$("#surePassword").val()==""||$("#phone").val()==""||$("#authCode").val()==""){
				alert("输入不能为空");
				}else if($("#password").val()!=$("#surePassword").val()){
					alert("两次输入密码必须相等");
				}else{
					doRegistUI();
				}
		}
		function doRegistUI() {
			var url = "user/code";
			var params = {
					"emailcode" : $("#authCode").val()
			}
			$.get(url, params, function(result) {
				alert(result);
				if(result){
					doUpdate();
				}else{
					alert("验证码输入错误");
				}
			});	
		}
		function doUpdate() {
			var url = "user/updatePassword";
			var params = {
				password : $("#password").val(),
				username : document.cookie.split(";")[2].split("=")[1]
			}
			$.get(url, params, function(result) {
				alert("修改成功");
			});	
		}
		
	</script>
